
.login{
    background: url(./assets/images/loginBG.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100vw;
    display: flex;
}

.intro{
    background: url(./assets/images/about-us-titleBG.jpg);
    background-size: cover;
    background-position: center;  
}

.our-story{
    background: url(./assets/images/about-us-our-storyBG.jpg);
    background-size: cover;
    background-position: center;
}